.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100vw;
    height: 85vh;
    .caption-section {
        margin-top: 1rem;
        .initial-text {
            font-size: 2rem;
        }
    }
    .viewer-section {
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            margin: 3rem;
        }
    }
}
cdk-virtual-scroll-viewport {
    height: 100%;
}
.spinner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}