<pmt-search-bar (searchValueChanged)="appStateSvc.handleSearchInputChanged($event)"></pmt-search-bar>

<div *ngIf="viewModel$ | async as viewModel" class="main-section">
    <div class="caption-section">
        <span class="initial-text">
            Images    
        </span>
        <div>
            <span>
                Images Found: {{ viewModel.totalResults }}
            </span>
        </div>
    </div>
    <div class="viewer-section">
        <cdk-virtual-scroll-viewport (scrolledIndexChange)="viewportIndexChanged()" #viewportContainer [itemSize]="30">
            <span *cdkVirtualFor="let photo of viewModel.photos">
                <img (click)="appStateSvc.openPhotoDetails(photo.id)" [src]="photo.src.tiny" />
            </span>
        </cdk-virtual-scroll-viewport>
    </div>
</div>